/* Scale canvas with resize attribute to full size */
html {
	background-color: #E2E2E2;
}

canvas[resize] {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 1;
}
